body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  background: linear-gradient(45deg, #0004ff, #8385ff, #c0b9ff, #8385ff, #0004ff);
  background-size: 400% 400%;
  animation: neon 5s linear infinite, fade-in 0.5s ease-in-out forwards;
}

.active {
  background-color: #fff;
  color: #fff;
  border-radius: 10px;
}

header {
  padding: 2rem 0;
  text-shadow: 0 0 10px #0004ff, 0 0 20px #8385ff, 0 0 30px #c0b9ff;
  font-weight: bold;
}

header ul {
  position: relative;
}

header ul li {
  list-style: none;
}

header ul li a {
  padding: 10px;
}

header ul li a:hover {
  color: #fff;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 2rem;
}

.portfolio > h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

.portfolio p {
  color: #fff;
}

.card-custom {
  background-color: #fff;
  box-shadow: 5px 5px;
  border: 1px solid black;
}

.card-custom > img {
  margin: 10px 0 0 10px;
  width: 100px;
}

.card-custom > button:hover {
  color: #0004ff;
}

.modal-header,
.modal-footer {
  background: linear-gradient(45deg, #0004ff, #8385ff, #c0b9ff, #8385ff, #0004ff);
  background-size: 400% 400%;
  animation: neon 5s linear infinite, fade-in 0.5s ease-in-out forwards;
}

.modal-image > img {
  width: 100px;
  margin: 10px 0 0 40%;
  text-align: center;
}

.card-text > a {
  text-decoration: none;
  color: black;
}

.modal-footer .btn > a {
  text-decoration: none;
  color: #fff;
}

.portfolio h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 0 0 10px #0004ff, 0 0 20px #8385ff, 0 0 30px #c0b9ff;
  padding: 1rem 0;
}

footer p a img {
  border-radius: 20px;
  padding: 0 10px;
  width: 100px;
  height: 50px;
}

footer p a img:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px #0004ff, 0 0 20px #8385ff, 0 0 30px #c0b9ff;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

/* Tampilan menu pada perangkat dengan lebar lebih dari 768px */

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    padding-left: 20px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }

  nav li {
    text-align: center;
    margin: 10px 0;
    padding: 30px 0;
  }

  nav ul.active {
    display: flex;
    background: linear-gradient(45deg, #0004ff, #8385ff, #c0b9ff, #8385ff, #0004ff);
    background-size: 400% 400%;
    animation: neon 5s linear infinite, fade-in 0.5s ease-in-out forwards;
    border: 3px solid black;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@keyframes neon {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
